oreilly_complete_app_dev_course/counter_provider/android/
oreilly_complete_app_dev_course/counter_provider/ios/
oreilly_complete_app_dev_course/counter_provider/linux/
oreilly_complete_app_dev_course/counter_provider/macos/
oreilly_complete_app_dev_course/counter_provider/windows/
oreilly_complete_app_dev_course/counter_provider/web/

oreilly_complete_app_dev_course/fortune_cookie/android/
oreilly_complete_app_dev_course/fortune_cookie/ios/
oreilly_complete_app_dev_course/fortune_cookie/linux/
oreilly_complete_app_dev_course/fortune_cookie/macos/
oreilly_complete_app_dev_course/fortune_cookie/windows/
oreilly_complete_app_dev_course/fortune_cookie/web/

oreilly_complete_app_dev_course/hello_world/android/
oreilly_complete_app_dev_course/hello_world/ios/
oreilly_complete_app_dev_course/hello_world/linux/
oreilly_complete_app_dev_course/hello_world/macos/
oreilly_complete_app_dev_course/hello_world/windows/
oreilly_complete_app_dev_course/hello_world/web/

oreilly_complete_app_dev_course/utip/android/
oreilly_complete_app_dev_course/utip/ios/
oreilly_complete_app_dev_course/utip/linux/
oreilly_complete_app_dev_course/utip/macos/
oreilly_complete_app_dev_course/utip/windows/
oreilly_complete_app_dev_course/utip/web/

oreilly_complete_app_dev_course/hello_world/android/
oreilly_complete_app_dev_course/hello_world/ios/
oreilly_complete_app_dev_course/hello_world/linux/
oreilly_complete_app_dev_course/hello_world/macos/
oreilly_complete_app_dev_course/hello_world/windows/

oreilly_complete_app_dev_course/utip/android/
oreilly_complete_app_dev_course/utip/ios/
oreilly_complete_app_dev_course/utip/linux/
oreilly_complete_app_dev_course/utip/macos/
oreilly_complete_app_dev_course/utip/windows/

oreilly_complete_app_dev_course/utip/android/
oreilly_complete_app_dev_course/utip/ios/
oreilly_complete_app_dev_course/utip/linux/
oreilly_complete_app_dev_course/utip/macos/
oreilly_complete_app_dev_course/utip/windows/